:root {
  /* Primary Colors */
  --blue-dark: #004878;
  --blue-medium-dark: #003C64;
  --blue-medium: #AAC2D2;
  --blue-light: #CCDAE4;
  --blue-lighter: #CCDAE4;

  /* Accent Colors */
  --accent-blue: #0073E6;
  --accent-orange: #F4A261;

  /* Background & Text */
  --bg-white: #F5F5F5;
  --bg-grey: #E0E0E0;
  --text-black: #1B1B1B;

  /* Button Colors */
  --button-yellow: #FFD166;
  --button-red: #E63946;

  /* Font */
  --font-family: "Merriweather", serif;
  --font-family: "Lora", serif;
  --font-albert: "Albert Sans", sans-serif;
}
