:root {
  /* Primary Colors */
  --blue-dark: #004878;
  --blue-medium-dark: #003c64;
  --blue-medium: #aac2d2;
  --blue-light: #ccdae4;
  --blue-lighter: #ccdae4;

  /* Accent Colors */
  --accent-blue: #0073e6;
  --accent-orange: #f4a261;

  /* Background & Text */
  --bg-white: #f5f5f5;
  --bg-grey: #e0e0e0;
  --text-black: #1b1b1b;

  /* Button Colors */
  --accent-yellow: #ffd166;
  --button-red: #e63946;

  /* Font */
  --font-merri: "Merriweather", serif;
  --font-lora: "Lora", serif;
  --font-albert: "Albert Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
}
